<div class="side-bar-header">
  <div class="user-name">
    <a href="#">ユーザー名</a>
  </div>

  <div class="create-chat">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="room">
  <div class="room-name">
    <a href="#">chat1</a>
    <a href="#">chat2</a>
  </div>
  
</div>